<form class="search-form" id="search-form" action="" >
    <div class="input-wrapper">
        <input type="text" class="input-form" name="searchQuery" autocomplete="off" placeholder="Search images...">
        <button type="submit" class="submit-btn">
            <svg class="icon" width="16" height="16">
                <use href="./images/icons.svg#icon-search"></use>
            </svg>
        </button>
    </div>
</form>

<div class="gallery">
</div>

<div id="sentinel"></div>

<!-- <button type="button" class="load-more" data-action="load-more-js">
    <span class="spinner"></span>
    <span class="label">Load more</span>
</button> -->

<button type="button" class="scroll-btnUp btn-hide" data-action="scroll-up"></button>